= f.label :name
= f.text_field :name, class: "input-large"

#responded
  %h3 Responded
  = f.label :responded
  = f.check_box :responded

#guests
  %h3 Guests
  %table.table-bordered.table-striped#people-list
    %thead
      %tr
        %th Name
        %th Attending?
        %th User Editable?
        %th Email
        %th Facebook
        %th Actions
    %tbody
      = f.fields_for :people do |builder|
        = render 'person_fields', f: builder

  %p= link_to_add_fields "Add Person", "#people-list tbody", f, :people

.modal.hide{role: "dialog"}
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button", "aria-hidden" => "true"}
      = raw "&times;"
    %h3 Select a Friend
  .modal-body
    #fb-friends
