.row.subheader
  %h1 You've responded!

.row
  %h3 Here's what we have you down as:

- current_family.people.each do |person|
  .response.row
    %p{class: person.attending ? "attending" : "not-attending"}
      %span= person.name
      %span is
      %span= person.attending ? "" : "NOT "
      %span attending.

.row
  %p
    %span Need to make changes?
    = link_to "Email us.", controller: :info, action: :contact

.row
  %h3 Other stuff you can do
  //todo - DRY with confirm.haml
  %ul
    %li= link_to "See who else is going", controller: :attendees, action: :index
    %li= link_to "See info about location/time", controller: :info, action: :index, anchor: "when"
    %li Learn how we met
