.row.subheader
  %h1 RSVP

  %h3
    %span= "Hi #{current_family.name}! (Not #{current_family.name}? Click "
    %a{href: "/sessions/log_out"} here
    %span ).

.row
  %h2 Your party
  %p The food is BBQ-style; you have a choice of red meat, chicken, or vegetarian.

= form_for current_family, url: check_rsvp_path, method: :post, html: {class: "form-inline"} do |f|
  #people-list
    = f.fields_for :people, include_id: false do |person_fields|
      = person_fields.hidden_field :temp_id
      .person.row
        .span1
          = raw "&nbsp;"
          %img{src: person_fields.object.fb_image}
        .span3
          - if person_fields.object.user_editable
            %div
              = person_fields.text_field :name, class: "person-label"
            %span Tell us this person's name
          - else
            = person_fields.hidden_field :name
            %p.person-label= person_fields.object.name

        .span2
          = person_fields.check_box :attending
          = person_fields.label "Attending"

        .span2
          %strong Food
          = person_fields.select(:food, [["Mammal", "mammal"], ["Fowl", "fowl"], ["Plant", "plant"]], {}, class: "input-small")

        - if person_fields.object.user_editable
          .span
            %button.btn.btn-primary.fb-user-picker
              %i.icon-facebook
              %span Find on Facebook
            = person_fields.hidden_field :fb_uid, class: "fb-uid"
            = person_fields.hidden_field :fb_image, class: "fb-image"

    .row.rsvp-buttons
      = f.submit "Next", class: "btn btn-primary"

.modal.hide{role: "dialog"}
  .modal-header
    %button.close{"data-dismiss" => "modal", type: "button", "aria-hidden" => "true"}
      = raw "&times;"
    %h3 Select a Friend
  .modal-body
    #fb-friends-rsvp
