!!!
%html
  %head
    %title Isaac & Anjali's Wedding
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %script{type: "text/javascript", src: 'http://connect.facebook.net/en_US/all.js'}
    = csrf_meta_tags

    %script
      var fbAppId = "#{ENV["WEDDING_FACEBOOK_KEY"]}";

    :plain
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  %body{"data-spy".to_sym => "scroll", "data-target".to_sym => ".subnav", "data-offset".to_sym => "50"}
    #fb-root
    .navbar.navbar-fixed-top
      .navbar-inner
        .container

          %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.brand{href: '/'} I & A

          .nav-collapse
            %ul.nav
              %li{class: ('active' if @tab && @tab == 'info')}
                %a{href: '/'}
                  %i.icon-info-sign
                  Wedding Info
              %li{class: ('active' if @tab && @tab == 'rsvp')}
                %a{href: url_for(controller: :rsvps, action: :show)}
                  %i.icon-check
                  RSVP
              %li{class: ('active' if @tab && @tab == 'how_we_met')}
                %a{href: '/how_we_met'}
                  %i.icon-heart
                  How we met
              %li{class: ('active' if @tab && @tab == 'photos')}
                %a{href: '/info/photos'}
                  %i.icon-picture
                  Album
              %li
                %a{href: '/registry'}
                  %i.icon-gift
                  Registry
              %li
                %a{href: url_for(controller: :info, action: :contact)}
                  %i.icon-envelope
                  Contact Us
              - if admin?
                %li
                  %a{href: url_for(controller: :families, action: :index)}
                    %i.icon-cogs
                    Admin

            %ul.nav.pull-right
              - if @current_family
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                    %i.icon-user
                    = @current_family.name
                    %i.icon-caret-down
                  %ul.dropdown-menu
                    %li
                      %a{href: url_for(controller: :sessions, action: :log_out)}
                        %i.icon-signout
                        Logout
              - else
                %li
                  %a{href: url_for(controller: :sessions, action: :new)}
                    %i.icon-signin
                    Login


    %div.container= yield
